<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- post.title %> | <%- site.title %></title>
    <meta name="description" content="<%- post.meta_description %>">

    <%- include("../../../../../templates/favicons.ejs") %>

    <%- include("../../../../../templates/theme.ejs") %>
</head>
<body>
    <header class="markdown">
        <%- site.header %>
    </header>
    <div id="content" class="markdown post_content">
        <img class="post_enclosure" src="<%- post.enclosure %>" />
        <h1 class="post_title"><%- post.title %></h1>
        <p class="post_infos"><%- post.author.name %>, <strong><%- post.relative_date %></strong> <%- post.date_string %></p>
        <%- post.html %>
    </div>
    <footer class="markdown">
        <%- site.footer %> 
    </footer>
</body>
</html>