<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(page_title == "") { %>
        <title><%- site_title %></title>
    <% } else { %>
        <title><%- page_title %> | <%- site_title %></title>
    <% } %>

    <%- include("../../../../../templates/favicons.ejs") %>

    <%- include("../../../../../templates/theme.ejs") %>
</head>
<body>
    <header class="markdown">
        <%- html_header %>
    </header>
    <div id="content" class="markdown">
        <%- html_content %> 
    </div>
    <footer class="markdown">
        <%- html_footer %> 
    </footer>
</body>
</html>