<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(normal.title == "") { %>
        <title><%- site.title %></title>
    <% } else { %>
        <title><%- normal.title %> | <%- site.title %></title>
    <% } %>
    <meta name="description" content="<%- normal.meta_description %>">

    <%- include("../../../../../templates/favicons.ejs") %>

    <%- include("../../../../../templates/theme.ejs") %>
</head>
<body>
    <header class="markdown">
        <%- site.header %>
    </header>
    <div id="content" class="markdown">
        <%- normal.html %> 
    </div>
    <footer class="markdown">
        <%- site.footer %> 
    </footer>
</body>
</html>