<!DOCTYPE html>
<html lang="<%- site.language %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%- content.title %> | <%- site.title %></title>
	<meta name="description" content="<%- content.description %>">

<%- include(ejsFavicons) %>

<%- include(ejsCSS) %>
</head>
<body>
	<header class="markdown">
		<%- site.header %>
	</header>
	<div id="content" class="markdown">
		<%- content.html %>
	</div>
	<footer class="markdown">
		<%- site.footer %>
	</footer>

	<%- include(ejsJS) %>
</body>
</html>
