<!DOCTYPE html>
<html lang="<%- content.language %>">
<head>
	<% if (content.title != "Unnamed") { %>
	<title><%- content.title %> | <%- site.title %></title>
	<% } else { %>
	<title><%- site.title %></title>
	<% } %>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%- content.description %>">

	<%- include(OpenGraph) %>
	<%- include(Favicons) %>
	<%- include(CSS) %>
</head>
<body>
	<header class="markdown">
		<%- site.header %>
	</header>
	<div id="content" class="markdown">
		<%- content.html %>
	</div>
	<footer class="markdown">
		<%- site.footer %>
	</footer>

	<%- include(JavaScript) %>
</body>
</html>
