<!DOCTYPE html>
<html lang="<%- site.language %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%- content.title %> | <%- site.title %></title>
	<meta name="description" content="<%- content.description %>">

	<!-- Open Graph -->
	<meta property="og:title" content="<%- content.title %> | <%- site.title %>">
	<meta property="og:url" content="${'hot': 'domain'}<%- content.webPath %>">
	<meta property="og:description" content="<%- content.description %>">
	<meta property="og:image" content="${'hot': 'domain'}<%- content.enclosure.webPath %>">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="<%- content.language %>">
	<meta property="og:site_name" content="<%- site.title %>">

<%- include(ejsFavicons) %>
<%- include(ejsCSS) %>
<%- include(ejsJS) %>
</head>
<body>
	<header class="markdown">
		<%- site.header %>
	</header>
	<div id="content" class="markdown">
		<%- content.html %>
	</div>
	<footer class="markdown">
		<%- site.footer %>
	</footer>

	<%- include(ejsJS) %>
</body>
</html>
