<!DOCTYPE html>
<html lang="<%- site.language %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Not Found | <%- site.title %></title>
	<meta name="description" content="404 Not found.">

	<%- include(OpenGraph) %>
	<%- include(Favicons) %>
	<%- include(CSS) %>
</head>
<body>
	<div id="content" class="error markdown">
		<p class="error_code">404</p>
		<p class="error_text">Not found.</p>
	</div>

	<%- include(JavaScript) %>
</body>
</html>
