<!DOCTYPE html>
<html lang="<%- site.language %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>500 Internal Server Error | <%- site.title %></title>
	<meta name="description" content="500 Internal Server Error.">

<%- include(ejsFavicons) %>

<%- include(ejsCSS) %>
</head>
<body>
	<div id="content" class="error markdown">
		<p class="error_code">500</p>
		<p class="error_text">Internal Server Error.</p>
	</div>

	<%- include(ejsJS) %>
</body>
</html>
