<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESTMADDY</title>

    <%- include("favicons.ejs") %>

    <%- include("theme.ejs") %>
</head>
<body>
    <header class="markdown">
        <%- html_header %>
    </header>
    <div id="content" class="markdown">
        <%- html_content %> 
    </div>
    <footer class="markdown">
        <%- html_footer %> 
    </footer>
</body>
</html>