<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESTMADDY</title>

    <%- include("favicons.ejs") %>

    <% if(theme && theme != "") { %>
    <link rel="stylesheet" href="/front/themes/<%- theme %>/css/page.min.css">
    <link rel="stylesheet" href="/front/themes/<%- theme %>/css/markdown.min.css">
    <% } else { %>
        <%- theme %>
    <link rel="stylesheet" href="/front/themes/clean/css/page.min.css">
    <link rel="stylesheet" href="/front/themes/clean/css/markdown.min.css">
    <% } %>
</head>
<body>
    <header class="markdown">
        <%- html_header %>
    </header>
    <div id="content" class="markdown">
        <%- html_content %> 
    </div>
    <footer class="markdown">
        <%- html_footer %> 
    </footer>
</body>
</html>